.b-text--white{
  color: $white;
}
.b-text--yellow{
  color: $yellow;
}
.b-text--gray{
  color: $gray;
}
.b-text--dark{
  color: $dark;
}

.b-text--gray-light{
  color: $gray-light;
}

.b-text--bold{
  font-weight: 600;
}
