//-----------------------------------//
//  VARIABLES
//-----------------------------------//

$white: #fff !default;
$blue: #3A75FC !default;
$blue-hover: #7992ff !default;
$yellow: #e0b664 !default;
$yellow-hover: #f8d38b !default;
$dark: #213955 !default;

$gray: #909ca8 !default;
$gray-light: #7f8792 !default;
$gray-lighter: #FaF8f5 !default;
$gray-lightest: #f1f1f1 !default;

$gray-border: #d7d7d7 !default;
$gray-date: #cbcdcf !default;
